<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895109510915-4o9mnfktu4jd6132ldbehnoh2p5q5rpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895109510915-4o9mnfktu4jd6132ldbehnoh2p5q5rpl</string>
	<key>API_KEY</key>
	<string>AIzaSyBEE29Kfh2M2hF6QqhO8h4tgW0Et9XWsao</string>
	<key>GCM_SENDER_ID</key>
	<string>895109510915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yunlu18.hsrwikiproject</string>
	<key>PROJECT_ID</key>
	<string>aliceworkshop4honkaistarrail</string>
	<key>STORAGE_BUCKET</key>
	<string>aliceworkshop4honkaistarrail.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895109510915:ios:d7668acdf3a1fa57951b36</string>
</dict>
</plist>